<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="db853098-9588-426a-8a23-6d7753567e48"
            Publisher="CN=chris"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UniversalSerializer Windows Store 8 PCL</DisplayName>
    <PublisherDisplayName>chris</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UniversalSerializer_Windows_Store_8_PCL.App">
        <VisualElements
            DisplayName="UniversalSerializer Windows Store 8 PCL"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UniversalSerializer Windows Store 8 PCL"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>